{% extends 'dj_phab/base.html' %}
{% load date_grouping %}

{% block djp_title %}{{ block.super }} - Data Table{% endblock djp_title %}

{% block djp_head_js %}
{% endblock djp_head_js %}

{% block djp_head_css %}
{% endblock djp_head_css %}

{% block djp_main %}

<h1>Data</h1>

{% if periods %}
	<table border="1" cellpadding="5" cellspacing="0">
		<thead>
			<tr>
				<th>Period</th>
				<th>Number of Diffs</th>
				<th>Average (mean) Lines Changed</th>
				<th>Num large diffs (> 500 lines)</th>
				<th>Num XL diffs (> 1000 lines)</th>
				<th>Num huge diffs (> 2500 lines)</th>
			</tr>
		</thead>
		<tbody>
			{% for time_period, data in periods.items %}
				<tr>
					<td>{{ time_period }}</td>
					<td>{% lookup data 'review_count' 0 %}</td>
					<td>{% filter floatformat:"0" %}{% lookup data 'avg_lines' 'N/A' %}{% endfilter %}</td>
					<td>{% lookup data 'large_count' 0 %}</td>
					<td>{% lookup data 'xl_count' 0 %}</td>
					<td>{% lookup data 'huge_count' 0 %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No data found for the period specified.</p>
{% endif %}

{% endblock djp_main %}

{% block djp_footer %}
{% endblock djp_footer %}

